@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Kairaga';
  src: local('KairagaRegular'),
    url('../src/fonts/KairagaRegular.otf') format('opentype');
}
/* @font-face {
  font-family: 'Sundanese';
  src: local('SundaneseUnicode'),
    url(./fonts/SundaneseUnicode-2.0.ttf) format('ttf');
} */

@tailwind utilities;

html {
  @apply font-kairaga;
}

.button {
  @apply min-w-[8rem] w-2/5
  bg-coffee-500 py-3 px-6 rounded-md 
  text-white text-center capitalize
  hover:bg-coffee-600 hover:shadow-md;
}

.hover-transition {
  @apply duration-200 transition-all;
}

.section {
  @apply flex flex-col justify-center min-h-screen;
}

.header-style {
  @apply text-center text-4xl mb-8;
}
