@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Kairaga';
  src: local('KairagaRegular'),
    url(./fonts/KairagaRegular.otf) format('opentype');
}

@tailwind utilities;

html {
  @apply font-display;
}

.button {
  @apply min-w-[8rem] w-2/5
  bg-coffee-500 py-3 px-6 rounded-md 
  text-white text-center capitalize
  hover:bg-coffee-600 hover:shadow-md;
}

.hover-transition {
  @apply duration-200 transition-all;
}

.section {
  @apply flex flex-col justify-center min-h-screen;
}

.header-style {
  @apply text-center text-4xl mb-8;
}
